@font-face {
    font-family: 'Upheaval';
    src: url('fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    /* background-color: #000000; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5%;
    background: #090909;
    user-select: none;
}

.buttontext {
    flex: 1;
    font-size: 300%;
    color: rgba(255, 255, 255);
    font-family: 'Upheaval', sans-serif;
    text-decoration: none;
    text-align: center;
}

.charactersheets {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4%;
    align-items: center;
    justify-content: center;
    width:auto
    
}

.completion {
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
}

.character {
    position: absolute;
    z-index: 3;
    height:50%;
    width: auto;
    left: 1%;
    top: 50%;
}

.sheet {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    align-items: center;
}

.mark {
    position: absolute;
    z-index: 2;
    height:15%;
    width: auto;
}


.grayscale {
    filter: grayscale(100%);
}

.hoverbox {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px inset rgb(107, 107, 107);
    padding: 10px;
    z-index: 4;
    top:25%;
    left: 5%;
}