@font-face {
    font-family: 'Upheaval';
    src: url('fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5%;
    background: #090909;
}

.buttontext {
    flex: 1;
    font-size: 300%;
    color: rgba(255, 255, 255);
    font-family: 'Upheaval', sans-serif;
    text-decoration: none;
    text-align: center;
}