@font-face {
    font-family: 'Upheaval';
    src: url('upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footertext {
    font-size: 18px;
    color: rgb(255, 255, 255, 80%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.buttontext {
    font-size: 40px;
    color: rgba(255, 255, 255);
    font-family: 'Upheaval', sans-serif;
    text-decoration: none;
}

.middle {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 15px;
    background: #090909;
    user-select: none;
}

.footer {
    background: #090909;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    
}

.showcase {
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.showcase img {
    display: flex;
    filter: drop-shadow(16px 16px 20px black);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    width: 40%;
    z-index: 10;
}

.discordlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.githublink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

